<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles (title = 'All Users')"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Users</h2>
        <div class="d-flex align-items-end justify-content-end">
            <h5>Export Data</h5>
            <a th:href="@{/admin/export/users}" class="btn btn-outline-secondary mx-3">Export CSV</a>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Image</th>
                    <th>Host</th>
                    <th>Created</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user,iter : ${users}">
                    <th th:text="${iter.count}"></th>
                    <th th:text="${user.id}"></th>
                    <th th:text="${user.firstName}"></th>
                    <th th:text="${user.lastName}"></th>
                    <th th:text="${user.email}"></th>
                    <th th:text="${user.phoneNumber}"></th>
                    <th th:text="${user.profileImage.name}"></th>
                    <th th:text="${user.host}"></th>
                    <th th:text="${user.createdAt}"></th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>