<!DOCTYPE html>
<html lang="en" class="h-100">

<head th:replace="fragments/general.html :: headerfiles (title = 'Contact')"></head>
<body class="h-100">
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="min-vh-100">
        <section class="py-5" style=" background: linear-gradient(360deg, rgba(255,255,255,0) 0%, rgba(255,183,176,1) 110%);">
            <div class="container">
                <div class="row text-center">
                    <div class="col">
                        <img class="img-fluid" th:src="@{/images/mail_icon.png}" height="130px" width="130px">
                    </div>
                    <div class="col my-auto">
                        <h1 class="display-5" th:text="'Contact'"></h1>
                    </div>
                    <div class="col">
                        <img class="img-fluid" th:src="@{/images/mail_icon.png}" height="130px" width="130px">
                    </div>
                </div>
            </div>
        </section>
        <section class="container py-5">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <h5>Address</h5>
                    <p>1111 N 51st Ave, Glendale, Arizona 85301 United States</p>
                    <h5>Admin</h5>
                    <div>Henry Sican</div>
                    <div>henryjsican@gmail.com</div>
                    <div>(101) 010-1010</div>
                </div>
            </div>
        </section>
        <section class="container py-5">
            <div class="row justify-content-center p-2">
                <div class="col-6 py-3 my-auto">
                    <form>
                        <input class="form-control my-1" type="text" placeholder="Name" required>
                        <input class="form-control my-1" type="text" placeholder="Phone" required>
                        <input class="form-control my-1" type="email" placeholder="Email" required>
                        <textarea class="form-control my-1" placeholder="Message" required></textarea>
                        <button class="btn btn-danger w-100 my-1" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
    <div th:replace="fragments/general.html :: footer"></div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>