<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles (title = 'Write Review for ' + ${booking.location.title})"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2 th:text="'Review: ' + ${booking.location.title}"></h2>
        <div class="card">
            <div class="row card-body">
                <form th:action="@{/review/submit/{bookingId}(bookingId = ${booking.id})}" th:object="${review}" method="POST" id="reviewForm">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label">Rating</label>
                            <div id="ratingText" class="text-center">⭐</div>
                            <input th:field="*{rating}" type="range" class="form-range" min="1" max="5" value="1" oninput="updateStars()" required>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Review</label>
                        <textarea th:field="*{textContent}" class="form-control" rows="3" placeholder="Tell us how you liked it." required></textarea>
                    </div>
                    <div class="col text-center pt-3">
                        <div class="btn-group" role="group">
                            <button type="submit" form="reviewForm" class="btn btn-warning">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        function updateStars() {
            var rangeValue = document.querySelector("#rating").value;
            var stars = "";
            for(let i = 0; i < rangeValue; i++){
                stars += "⭐";
            }
            document.querySelector("#ratingText").innerHTML = stars;
        }
    </script>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>

</html>