<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles (title = 'Edit Listing')"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Edit</h2>
        <p></p>
        <div class="card mb-4">
            <div class="card-body">
                <div class="m-3">
                    <form th:action="@{/update/{locationId}(locationId = ${location.id})}" th:object="${location}" method="POST" id="updateForm">
                        <div class="text-center">
                            <div class="btn-group" role="group">
                                <input th:checked="${location.active}" name="active" id="active" type="checkbox" class="btn-check">
                                <label class="btn btn-outline-success" for="active">Public</label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Location Title</label>
                            <input th:field="*{title}" type="text" class="form-control" placeholder="Give it a nice name.">
                        </div>

                        <div class="row">
                            <div class="col-12 mb-3">
                                <label for="inputStreetAddress" class="form-label">Address</label>
                                <input th:field="*{address.address1}" type="text" class="form-control" id="inputStreetAddress" placeholder="29 Neibolt Street" disabled>
                            </div>
                            <div class="col-12 col-sm-4 mb-3">
                                <label for="inputCity" class="form-label">City</label>
                                <input th:field="*{address.city}" type="text" class="form-control" id="inputCity" placeholder="Derry" disabled>
                            </div>
                            <div class="col-sm-4 col">
                                <label class="form-label">State</label>
                                <select th:field="*{address.state}" class="form-select" disabled>
                                    <option th:value="*{address.state}"
                                            th:text="*{address.state}"></option>
                                </select>
                            </div>
                            <div class="col-sm-4 col mb-3">
                                <label class="form-label">Zip</label>
                                <input th:field="*{address.zipCode}" type="text" class="form-control" disabled>
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea th:field="*{description}" class="form-control" rows="3"
                                      placeholder="Describe the location well to attract renters."></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <div class="col col-sm-7 mb-3">
                                    <label class="form-label">Cars</label>
                                    <div class="input-group">
                                        <span class="input-group-text">#</span>
                                        <input th:field="*{totalOccupancy}" type="number" class="form-control" min="0">
                                    </div>
                                </div>
                                <div class="col col-sm-7">
                                    <label class="form-label">Price per day</label>
                                    <div class="input-group">
                                        <span class="input-group-text">$</span>
                                        <input th:field="*{price}" type="number" class="form-control" min="0">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="w-100 d-sm-none d-block"></div> -->
                            <div class="col">
                                Features
                                <div class="form-check">
                                    <input th:field="*{hasVideoMonitoring}" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Video monitoring</label>
                                </div>
                                <div class="form-check">
                                    <input th:field="*{enclosed}" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Enclosed</label>
                                </div>
                                <div class="form-check">
                                    <input th:field="*{streetParking}" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">Street parking</label>
                                </div>
                                <div class="form-check">
                                    <input th:field="*{hasRvParking}" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">RV space</label>
                                </div>
                                <div class="form-check">
                                    <input th:field="*{hasEvCharging}" class="form-check-input" type="checkbox">
                                    <label class="form-check-label">EV charging</label>
                                </div>
                            </div>
                        </div>
                        <div class="col text-center pt-3">
                            <div class="btn-group" role="group">
                                <button onclick="showModal()"
                                        type="button" form="updateForm" class="btn btn-danger"
                                        data-bs-toggle="modal" data-bs-target="#confirmModal">Delete</button>
                                <button name="action" value="update"
                                        type="submit" form="updateForm" class="btn btn-warning">Save</button> <!-- Change/Remove form -->
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Confirmation Modal -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Please Confirm</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5>Are you sure you want to delete this listing?</h5>
                    <div id="modalLocationTitle"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button name="action" value="delete" type="submit"
                            form="updateForm" class="btn btn-danger">Delete</button> <!-- Change/Add form -->
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>

</html>