<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org http://www.thymeleaf.org
  http://www.ultraq.net.nz/thymeleaf/layout http://www.ultraq.net.nz/thymeleaf/layout
  http://www.thymeleaf.org/thymeleaf-extras-springsecurity4 http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="fragments/general.html :: headerfiles (title = 'Edit Profile')"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Edit profile</h2>
        <div class="card">
            <div class="row card-body">
                <form th:action="@{/user/saveProfile}" th:object="${user}" method="POST" id="profileForm">
                    <div class="row">
                        <div class="col-6 col-sm-6 mb-3">
                            <label class="form-label">First Name</label>
                            <input th:field="*{firstName}" type="text" class="form-control" placeholder="Atticus" required>
                        </div>
                        <div class="col-6 col-sm-6 mb-3">
                            <label class="form-label">Last Name</label>
                            <input th:field="*{lastName}" type="text" class="form-control" placeholder="Finch" required>
                        </div>
                        <div class="col-sm-4 mb-3">
                            <label class="form-label">Email</label>
                            <input th:field="*{email}" type="email" class="form-control" placeholder="afinch@email.com" required>
                        </div>
                        <div class="col-6 col-sm-4 mb-3">
                            <label class="form-label">Phone Number</label>
                            <input th:field="*{phoneNumber}" type="tel" class="form-control" placeholder="(251) 909-9867" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
                        </div>
                        <div class="col-6 col-sm-4 mb-3">
                            <label class="form-label">Photo</label>
                            <input th:field="*{profileImage}" type="file" class="form-control">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Summary</label>
                        <textarea th:field="*{summary}" class="form-control" rows="3"
                            placeholder="Describe yourself."></textarea>
                    </div>
                    <div class="col text-center pt-3">
                        <th:block th:if="${message != null}">
                            <div th:text="${message}" class="text-danger"></div>
                        </th:block>
                        <div class="btn-group" role="group">
                            <button type="submit" form="profileForm" class="btn btn-warning">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>

</html>