<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Listings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Listed</h2>
        <div class="d-flex align-items-end justify-content-end">
            <h5>Create new listing</h5>
            <a th:href="@{/create}" class="btn btn-outline-secondary mx-3">Create</a>
        </div>
        <h6 th:if="${#lists.isEmpty(locations)}" class="text-center text-muted mt-3">Oh no! You haven't created any listings.</h6>
        <th:block th:unless="${#lists.isEmpty(locations)}">
            <div class="col shadow mt-3 p-0">
                <div style="height: 500px; overflow-y: scroll;">
                    <ul class="list-group">
                        <th:block th:each="location : ${locations}">
                            <li class="list-group-item list-group-item-action py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <img th:src="@{/images/city_buildings.png}" class="" height="50" alt="location">
                                    <div class="w-100 text-truncate mx-3">
                                        <a th:text="${location.title}" th:href="@{/location/{locationId}(locationId = ${location.id})}" class="fw-bold text-decoration-none link-dark"></a>
                                        <p th:text="${location.description}" class="text-truncate mb-0"></p>
                                    </div>
                                    <div class="btn-group">
                                        <button th:classappend="${location.active} ? 'btn-warning' : 'btn-secondary'" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Manage</button>
                                        <ul class="dropdown-menu">
                                            <th:block th:if="${location.active}">
                                                <li><a th:href="@{/edit/{locationId}(locationId = ${location.id})}" class="dropdown-item">Edit</a></li>
                                                <li><a th:href="@{/location/{locationId}(locationId = ${location.id})}"
                                                       class="dropdown-item">View</a></li>
                                                <li><a th:href="'#bookings'+${location.id}" class="dropdown-item" data-bs-toggle="collapse">Bookings
                                                    <span th:text="${location.calculateTotalPendingBookings()}" class="badge bg-warning"></span></a></li>
                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>
                                                <li><a th:attr="onclick=|updateListing('unlist','${location.id}','${location.title}')|"
                                                       class="dropdown-item text-danger" href=""
                                                       data-bs-toggle="modal" data-bs-target="#modal">Unlist</a></li>
                                            </th:block>
                                            <th:block th:unless="${location.active}">
                                                <li><a th:href="@{/edit/{locationId}(locationId = ${location.id})}" class="dropdown-item">Edit</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a th:attr="onclick=|updateListing('publish','${location.id}','${location.title}')|"
                                                       class="dropdown-item text-success" href=""
                                                       data-bs-toggle="modal" data-bs-target="#modal">Publish</a></li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </div>
                                <th:block th:if="${not #lists.isEmpty(location.bookings.?[bookingStatus.equals('pending')])}">
                                    <div th:id="'bookings'+${location.id}" class="collapse">
                                        <ul class="list-group">
                                            <th:block th:each="booking : ${location.bookings.?[bookingStatus.equals('pending')]}">
                                                <li class="list-group-item list-group-item-action">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="d-flex align-items-center">
                                                            <img th:src="@{/images/profileplaceholder1.png}" class="rounded-circle" height="30" alt="location">
                                                            <div class="ms-2">
                                                                <div th:text="${booking.customer.firstName}" class="fw-bold"></div>
                                                                <small th:text="${booking.cars} + ' Cars • ' + ${#dates.format(booking.startDate, 'MMM d')} + ' - ' + ${#dates.format(booking.endDate, 'MMM d, yyyy')}"></small>
                                                            </div>
                                                        </div>
                                                        <div class="ms-2 my-auto">
                                                                <button th:id="'btnCancel'+${booking.id}"
                                                                        th:attr="onclick=|updateBooking('cancel','${booking.id}','${location.id} ',' ${booking.customer.firstName}','${booking.cars}','${#dates.format(booking.startDate, 'MMM d')}','${#dates.format(booking.endDate, 'MMM d, yyyy')}')|"
                                                                        class="btn btn-sm btn-danger w-100"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal"
                                                                        type="button">Cancel
                                                                </button>
                                                                <button th:id="'btnConfirm'+${booking.id}"
                                                                        th:data="${booking.id}"
                                                                        th:attr="onclick=|updateBooking('confirm','${booking.id}','${location.id} ',' ${booking.customer.firstName}','${booking.cars}','${#dates.format(booking.startDate, 'MMM d')}','${#dates.format(booking.endDate, 'MMM d, yyyy')}')|"
                                                                        class="btn btn-sm btn-success w-100"
                                                                        data-bs-toggle="modal"
                                                                        data-bs-target="#modal"
                                                                        type="button">Confirm
                                                                </button>
                                                        </div>
                                                    </div>
                                                </li>
                                            </th:block>
                                        </ul>
                                    </div>
                                </th:block>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </th:block>

        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Please Confirm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5 id="modalTitle"></h5>
                        <div id="modalMessage"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <a id="actionLink" class="btn"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function updateBooking(action, id, loc, name,cars, start, end){
            var title = document.querySelector('#modalTitle')
            var message = document.querySelector('#modalMessage')
            var link = document.querySelector('#actionLink')
            if(action === 'confirm'){
                link.classList.remove("btn-danger");
                link.innerHTML = 'Confirm it';
                link.classList.add("btn-success");
            }else if (action === 'cancel'){
                link.classList.remove("btn-success");
                link.innerHTML = 'Cancel it';
                link.classList.add("btn-danger");
            }
            title.innerHTML = 'Do you want to ' + action + ' <b>' + name + '\'s</b> reservation?';
            message.innerHTML = cars + ' Cars for ' + start + ' - ' + end;
            link.setAttribute("href","/hostinglist/"+action+"/" +loc+"/" + id);
            //window.location = '/hostinglist/confirm/'+id;
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js "
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4 "
            crossorigin="anonymous "></script>
</body>

</html>