<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="htp://www.thymeleaf.org http://www.thymeleaf.org
      http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/general.html :: headerfiles (title = 'Log in')"></head>
<body>
    <div class="text-center vh-100 d-flex flex-column justify-content-center">
        <form th:action="@{/login/authenticate}" method="POST" class="min-vw-25 mx-auto d-grid">
            <a th:href="@{/home}"><img th:src="@{/images/city_buildings.png}" class="mb-4" alt="Logo" width="150" height="150"></a>
            <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
            <input name="email" type="email" class="form-control form-control-lg" placeholder="Email address" required="" autofocus="">
            <input name="password" type="password" class="form-control form-control-lg" placeholder="Password" required="">
            <div th:if="${param.error}" class="text-danger">
                Invalid credentials.
            </div>
            <a th:href="@{/signup}">Register</a>
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Login</button>
            <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
    </div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>

</html>