<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="htp://www.thymeleaf.org http://www.thymeleaf.org
      http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/general.html :: headerfiles (title = ${user.firstName} + '\'s Profile')"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Profile</h2>
        <th:block sec:authorize="isAuthenticated()">
            <th:block th:if="${#authentication.getName() == user.email}">
                <div class="d-flex align-items-end justify-content-end mb-3">
                    <h5>Edit profile</h5>
                    <a th:href="@{/user/editProfile}"
                       class="btn btn-outline-secondary mx-3">Edit</a>
                </div>
            </th:block>
        </th:block>
        <div class="card">
            <div class="row card-body">
                <div class="col-lg-3 text-center border-end">
                    <img th:src="@{/images/profileplaceholder1.png}" class="rounded-circle mt-3 p-2" width="150px">
                    <div th:text="${user.firstName}" class="fw-bold mt-3"></div>
                    <div th:text="${user.email}" class="text-black-50"></div>
                </div>
                <div class="col-lg-9 p-4">
                    <h4>About</h4>
                    <p th:text="'Joined in ' + ${#dates.format(user.createdAt,'yyyy')}" class="text-muted"></p>
                    <p th:text="${user.summary}"></p>
                    <h4 th:text="'(' + ${locations.size()} + ') Listings'"></h4>
                </div>
                <div class="col-lg-3 d-lg-block d-none border-end"></div>
                <div class="col-lg-9 border-top overflow-auto">
                    <ul class="row flex-nowrap mt-3">
                        <th:block th:each="loc : ${locations}">
                            <li class="list-group-item list-group-item-action h-100 p-0 mx-2 shadow rounded"
                                style="max-width: 300px;">
                                <div class="d-flex flex-column">
                                    <div class="mb-auto">
                                        <a th:href="@{/location/{locationId}(locationId = ${loc.id})}" class="stretched-link">
                                            <img th:src="@{/images/car_crop.png}" class="card-img-top" alt="car image">
                                        </a>
                                        <div class="mt-2 px-3">
                                            <div th:text="${loc.title}" class="fw-bold text-truncate"></div>
                                            <div th:text="${loc.totalOccupancy} + ' Cars • '+${loc.address.city}+', '+${loc.address.state}+''" class="text-muted"></div>
                                            <div class="d-none d-sm-block">
                                                <p th:text="${loc.description}" style="display: -webkit-box;
                                    -webkit-line-clamp: 3;
                                    -webkit-box-orient: vertical;
                                    overflow: hidden;"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-auto">
                                        <div class="row px-2 my-2">
                                            <div th:text="'⭐ ' + ${loc.calculateWeightedAverage()} + ' (' + ${loc.reviews.size()} + ' Reviews)'" class="col-8 text-muted"></div>
                                            <div th:text="'$' + ${loc.price} + '/day'" class="col-4 text-end fw-bold"></div>
                                        </div>
                                        <div class="card-footer align-self-end">
                                            <small th:text="'Last updated ' + ${loc.calculateDaysSinceUpdated()} + ' days ago'" class="text-muted"></small>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>

</html>