<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'Reserve ' + ${location.title}"></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container my-4">
        <div class="container card" style="max-width: 600px;">
            <div class="card-body">
                <div class="border-bottom">
                    <h2 th:text="${location.title}"></h2>
                    <h6 th:text="'⭐ ' + ${location.calculateWeightedAverage()} + ' (' + ${location.reviews.size()} + ' Reviews) ' + ${location.address.city} + ', ' + ${location.address.state} + ', ' + ${location.address.country}"></h6>
                    <p></p>
                </div>
                <h4 th:text="'$' + ${location.price} + '/day'" class="text-center my-3"></h4>
                <form th:action="@{/reservations/reserve/{locationId}(locationId = ${location.id})}" th:object="${booking}" method="POST" id="formReserve">
                    <div class="row">
                        <div class="col mb-3">
                            <label>Check in</label>
                            <input th:field="*{startDate}" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" type="date" class="form-control" required>
<!--                            <input th:field="*{startDate}" type="date" class="form-control" required>-->
                        </div>
                        <div class="col mb-3">
                            <label>Check out</label>
                            <input th:field="*{endDate}" th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" type="date" class="form-control" required>
<!--                            <input th:field="*{endDate}" type="date" class="form-control" required>-->
                        </div>
                    </div>
<!--                    <th:block th:if="${#lists.isEmpty(bookings)}">-->
                        <div class="row justify-content-around border-top border-bottom mb-3 p-2">
                            <th:block th:if="${not #lists.isEmpty(unavailableBookings)}">
                                <div class="fw-bold text-center">Pending Reservations</div>
                                <table class="table text-center">
                                    <tr class="fw-bold">
                                        <td>From</td>
                                        <td>To</td>
                                        <td>Status</td>
                                        <td>Expires in</td>
                                    </tr>
                                    <tr th:each="unavailableB,iter : ${unavailableBookings}" >
                                        <td th:text="${#dates.format(unavailableB.startDate,'MM-dd')}"></td>
                                        <td th:text="${#dates.format(unavailableB.endDate,'MM-dd')}"></td>
                                        <td th:text="${unavailableB.bookingStatus.name}"></td>
<!--                                        th:text="${teacher.active} ? 'ACTIVE' : 'RETIRED'"-->
                                        <th:block th:switch="${unavailableB.bookingStatus.name}">
                                            <td th:case="'Pending'" th:text="${unavailableB.calculateTimeFromCreate() >= 0} ? ${unavailableB.calculateTimeFromCreate()} + ' min(s)' : 'Available!'"></td>
                                            <td th:case="'Expired'" th:text="'Available!'"></td>
                                            <td th:case="'Host Cancel'" th:text="'Available!'"></td>
                                            <td th:case="'Customer Cancel'" th:text="'Available!'"></td>
                                            <td th:case="'Confirmed'" th:text="'N/A'"></td>
                                        </th:block>
                                    </tr>
                                </table>
                            </th:block>
                            <th:block th:if="${isAvailable != null}">
                                <div th:text="${isAvailable} ? 'Available':'Not Available'" th:classappend="${isAvailable}? 'text-success':'text-danger'" class="text-center"></div>
                            </th:block>
                            <th:block th:if="${errorMessage != null}">
                                <div th:text="${errorMessage}" class="text-danger text-center"></div>
                            </th:block>
                            <th:block th:unless="${errorMessage != null}">
                                <div th:if="${message != null}" th:text="${message}" class="text-center"></div>
                            </th:block>
<!--                            <div th:if="${message != null}" th:text="${message}" th:classappend="${!isAvailable}? 'text-danger'" class="text-center"></div>-->
                        </div>
<!--                    </th:block>-->
                    <div class="text-center">
                        <button name="action" value="check" type="submit" class="btn btn-danger">Check dates</button>
                    </div>
                    <label for="selectCars" class="form-label">Cars</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">#</span>
                        <select th:field="*{cars}" class="form-select" id="selectCars" required>
                            <option th:each="i: ${#numbers.sequence(1, location.totalOccupancy)}"
                                    th:value="${i}"
                                    th:text="${i}"></option>
                        </select>
                    </div>
                    <div class="col text-center pt-3">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-danger"
                                    data-bs-toggle="modal" data-bs-target="#reserveModal">Reserve</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- Confirmation Modal -->
        <div class="modal fade" id="reserveModal" tabindex="-1" aria-labelledby="reserveModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reserveModalLabel">Reserve</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <h5>All good and ready to reserve this location?</h5>
                        <div th:text="${location.title}"></div>
                        <div th:text="${message}"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button name="action" value="reserve" type="submit"
                                form="formReserve" class="btn btn-danger">Reserve</button>
                    </div>
                </div>
            </div>
        </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</body>

</html>