<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles (title = 'My Reservations')"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Reservations</h2>
        <h6 th:if="${#lists.isEmpty(bookingList)}" class="text-center text-muted">Oh no! You haven't made any reservations.</h6>
        <th:block th:unless="${#lists.isEmpty(bookingList)}">
            <div class="col shadow mt-3 p-0">
<!--        <div th:classappend="${bookingList.size() > 4 ? 'shadow' : '**list-container**'}" class="col mt-3 p-0">-->
                <div style="height: 500px; overflow-y: scroll;">
                    <ul class="list-group">
                        <th:block th:each="booking : ${bookingList}">
                            <li class="list-group-item list-group-item-action py-3">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex w-100 text-truncate align-items-center" style="transform: rotate(0);">
                                        <img th:src="@{/images/city_buildings.png}" class="rounded-circle" height="50" alt="location">
                                        <div class="text-truncate mx-3">
                                            <a th:text="${booking.location.title}" th:href="@{/reservations/reservation/{bookingId}(bookingId = ${booking.id})}" class="fw-bold text-decoration-none link-dark stretched-link"></a>
                                            <p th:text="${#dates.format(booking.startDate, 'MMM d')} + ' - ' + ${#dates.format(booking.endDate, 'MMM d, yyyy')}" class="mb-0"><small></small></p>
                                            <p th:text="${booking.location.description}" class="text-truncate mb-0"></p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <th:block th:switch="${booking.bookingStatus.name}">
                                            <span th:case="'Pending'" class="badge bg-warning">Pending</span>
                                            <span th:case="'Expired'" class="badge bg-secondary">Expired</span>
                                            <span th:case="'Host Cancel'" class="badge bg-danger">Canceled</span>
                                            <span th:case="'Customer Cancel'" class="badge bg-danger">Canceled</span>
                                            <span th:case="'Confirmed'" class="badge bg-success">Confirmed</span>
                                            <a th:if="${booking.needsReview()}" th:href="@{/review/create/{bookingId}(bookingId = ${booking.id})}" class="badge bg-warning link-dark d-block">Review</a>
                                        </th:block>
                                    </div>
                                </div>
                            </li>
                        </th:block>
                    </ul>
                </div>
            </div>
        </th:block>
    </div>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>