<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="htp://www.thymeleaf.org http://www.thymeleaf.org
      http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/general.html :: headerfiles (title = 'Sign Up')"></head>
<body>
    <div class="text-center vh-100 d-flex flex-column justify-content-center">
        <form th:action="@{/signup}" th:object="${user}" method="POST" class="min-vw-25 mx-auto d-grid">
            <a th:href="@{/home}"><img th:src="@{/images/city_buildings.png}" class="mb-4" alt="Logo" width="150" height="150"></a>
            <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
            <input th:field="*{email}"  name="email" type="email" class="form-control form-control-lg" placeholder="Email address" required="" autofocus="">
            <input th:field="*{password}"  name="password" type="password" class="form-control form-control-lg" placeholder="Password" required="">
            <input name="confirmpassword" type="password" class="form-control form-control-lg" placeholder="Confirm password" required="">
            <th:block th:if="${message != null}">
                <div th:text="${message}" class="text-danger"></div>
            </th:block>
            <a th:href="@{/login}">Already have an account? Log in.</a>
            <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">© 2021</p>
        </form>
    </div>
</body>

</html>