<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/general.html :: headerfiles (title = 'My Wishlist')"></head>
<body>
    <div th:replace="fragments/general.html :: navbar"></div>
    <div class="container mt-4">
        <h2>Wishlist</h2>
    </div>
    <h6 th:if="${#lists.isEmpty(locations)}" class="text-center text-muted mt-3">Oh no! Your wishlist is empty.</h6>
    <th:block th:unless="${#lists.isEmpty(locations)}">
        <ul class="row justify-content-center w-100">
            <th:block th:each="loc : ${locations}">
                <li class="col col-sm-6 col-md-4 list-group-item list-group-item-action h-100 p-0 mx-2 mb-3 shadow rounded"
                    style="max-width: 300px;">
                    <div class="d-flex flex-column">
                        <div class="mb-auto">
                            <a th:href="@{/location/{locationId}(locationId = ${loc.id})}" class="stretched-link">
                                <img th:src="@{/images/car_crop.png}" class="card-img-top" alt="car image">
                            </a>
                            <div class="mt-2 px-3">
                                <div th:text="${loc.title}" class="fw-bold text-truncate"></div>
                                <div th:text="${loc.totalOccupancy} + ' Cars • '+${loc.address.city}+', '+${loc.address.state}+''" class="text-muted"></div>
                                <div class="d-none d-sm-block">
                                    <p th:text="${loc.description}" style="display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;"></p>
                                </div>
                            </div>
                        </div>
                        <div class="mt-auto">
                            <div class="row px-2 my-2">
                                <div th:text="'⭐ ' + ${loc.getWeightedAverage()} + ' (' + ${loc.reviews.size()} + ' Reviews)'" class="col-8 text-muted"></div>
                                <div th:text="'$' + ${loc.price} + '/day'" class="col-4 text-end fw-bold"></div>
                            </div>
                            <div class="card-footer align-self-end">
                                <small th:text="'Last updated ' + ${loc.calculateDaysSinceUpdated()} + ' days ago'" class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </li>
            </th:block>
        </ul>
    </th:block>
    <div th:replace="fragments/general.html :: scripts"></div>
</body>
</html>